PARTITION SIZES:
----------------
{{ part_sizes.stdout_lines | to_yaml }}

NVMe PARTITIONS:
----------------
{{ nvmedev1_parts.stdout_lines | to_yaml }}
{{ nvmedev2_parts.stdout_lines | to_yaml }}

LSBLK output:
-------------
{{ lsblk_out.stdout_lines | to_yaml }}

LVS output:
-----------
{{ lvs_out.stdout_lines | to_yaml }}
